.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: contain;
    background-color: rgb(69, 82, 87);
}

.card-img {
    width: 100%;
    height: 25vw;
    object-fit: contain;
    background-color: rgb(69, 82, 87);
}

.bg-small {
    margin:0.50em;
}

.bi-margin {
    margin:0.10em;
}