.btn-close-sm {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0px 0px;
    border: 0px;
    border-radius: .25rem;
    opacity: .5;
}

/*https://stackoverflow.com/questions/47175786/rotate-bootstrap-dropdown-caret-on-toggle-and-prevent-close-if-clicked-inside*/
.dropdown-change[aria-expanded="false"]:after {
    transform: rotate(-90deg);
}
  
/*for the animation*/
.dropdown-change:after {
    transition: 0.15s;
}