/*https://stackoverflow.com/questions/47175786/rotate-bootstrap-dropdown-caret-on-toggle-and-prevent-close-if-clicked-inside*/
.dropdown-toggle[aria-expanded="false"]:after {
    transform: rotate(-90deg);
}
  
/*for the animation*/
.dropdown-toggle:after {
    transition: 0.5s;
}

/*https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box*/
.no-spinbox::-webkit-outer-spin-button,
.no-spinbox::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.no-spinbox {
    -moz-appearance:textfield; /* Firefox */
}

.btn-close-sm {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0px 0px;
    border: 0px;
    border-radius: .25rem;
    opacity: .5;
  }