/* Global style settings */
.badge {
    margin:0.10em;
}

.btn-margin {
    margin: 0.10em;
}

/*https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box*/
.no-spinbox::-webkit-outer-spin-button,
.no-spinbox::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.no-spinbox {
    -moz-appearance:textfield; /* Firefox */
}

label.required:after {
    content:"*";
    color:red;
    margin: 0.10em;
}

.alert.hide {
    visibility: hidden;
}